<app-dashboard-header></app-dashboard-header>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <button class="btn btn-sm btn-outline-success float-right">Add Property</button>
    </div>
  </div>
  <br>
  <div class="row">
   <ul>
     <div class="card">
       <div class="card-header">
         <div class="row">
           <div class="col">Property Name</div>
           <div class="col-1 float-end justify-content-end"><fa-icon [icon]="check" size="2x" [styles]="{'color':'green'}"></fa-icon></div>
         </div>
       </div>
       <div class="card-body">
         <p>Cras justo odio</p>
         <p>Dapibus ac facilisis in</p>
         <p>Vestibulum at eros</p>
       </div>
       <div class="card-footer" style="background-color: transparent">
         <button class="btn btn-sm btn-outline-success" style="width: 135px;">Manage</button>
       </div>
     </div>

     <br>

     <div class="card">
       <div class="card-header">
         <div class="row">
           <div class="col">Property Name</div>
           <div class="col-1 float-end justify-content-end"><fa-icon [icon]="reject" size="2x" [styles]="{'color':'red'}"></fa-icon></div>
         </div>
       </div>
       <div class="card-body">
         <p>Cras justo odio</p>
         <p>Dapibus ac facilisis in</p>
         <p>Vestibulum at eros</p>
       </div>
       <div class="card-footer" style="background-color: transparent">
         <button class="btn btn-sm btn-outline-danger" style="width: 135px;">Delete</button>
       </div>
     </div>

     <br>

     <div class="card">
       <div class="card-header">
         <div class="row">
           <div class="col">Property Name</div>
           <div class="col-1 float-end justify-content-end"><fa-icon [icon]="pending" size="2x" [styles]="{'color':'red'}"></fa-icon></div>
         </div>
       </div>
       <div class="card-body">
         <p>Cras justo odio</p>
         <p>Dapibus ac facilisis in</p>
         <p>Vestibulum at eros</p>
       </div>
       <div class="card-footer" style="background-color: transparent">
         <button class="btn btn-sm btn-outline-danger" style="width: 135px;">Delete</button>
       </div>
     </div>

     <div class="card">
       <div class="card-header">
         <div class="row">
           <div class="col">Property Name</div>
           <div class="col-1 float-end justify-content-end"><fa-icon [icon]="pending" size="2x" [styles]="{'color':'red'}"></fa-icon></div>
         </div>
       </div>
       <div class="card-body">
         <p>Cras justo odio</p>
         <p>Dapibus ac facilisis in</p>
         <p>Vestibulum at eros</p>
       </div>
       <div class="card-footer" style="background-color: transparent">
         <button class="btn btn-sm btn-outline-danger" style="width: 135px;">Delete</button>
       </div>
     </div>

   </ul>
  </div>

</div>



